# nomencl
*.nlo

# beamer
*.nav
*.snm
*.vrb

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.lol
*.tpt

# Intermediate documents:
*.dvi
# these rules might exclude image files for figures etc.
 *.ps
# *.eps
# *.pdf

# minitoc
*.maf
*.mtc
*.mtc0

# makeidx
*.idx
*.ilg
*.ind
*.ist

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf
*.bin

# dependency files
*.d

# doxygen created output
**/docs/doxygen/**

# Dolphin config
.directory
